html {
    scroll-behavior: smooth;
}

body{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

#Layer_1 {
    size: 1px;
}

.card-deck{
    background-color: black;
}

.card{
    background-color: black;
    color: white;
}

.card-footer{
    text-align: center;
}

.card-header{
    text-align: center;
}

h2{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
}

.icon{
    color: white;
}

.form{
    background-color: #000;
}

.viajes-chile{
    font-weight: 400;
    font-size: 1.5rem;
}